@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 40px;
    }



    /*----------------
        About head
    ----------------*/
    .about_head video
    {
        top: 33.333%;
    }


    .about_head .exp
    {
        margin-top: 500px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .content
    {
        width: calc(100% - 384px);
    }


    .article_info aside
    {
        width: 360px;
    }


    .article_info .other_news
    {
        padding: 24px;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page
    {
        padding: 100px 40px;
    }


    .error_page .data
    {
        margin-top: 60px;
        margin-right: auto;
        margin-left: auto;

        text-align: center;
    }


    .error_page .data .links
    {
        justify-content: center;

        margin-top: 32px;
    }



    /*-------------
        Cookies
    -------------*/
    .cookies
    {
        right: 40px;

        max-width: calc(100% - 80px);
    }
}
