@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 40px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .content
    {
        width: calc(100% - 384px);
    }


    .article_info aside
    {
        width: 360px;
    }


    .article_info .other_news
    {
        padding: 24px;
    }
}
