@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 20px;
    }



    /*------------
        BG block
    ------------*/
    .bg_block:before
    {
        height: 2000px;
    }



    /*-----------------------------
        Opportunities/Resources
    -----------------------------*/
    .opportunities_resources .info
    {
        width: 280px;
    }


    .opportunities_resources .swiper
    {
        width: calc(100% - 350px);
    }



    /*-----------
        Steps
    -----------*/
    .steps .head .pre_title + *
    {
        width: calc(100% - 264px);
    }


    .steps .step .front
    {
        padding: 24px;
    }


    .steps .step .number
    {
        top: 24px;
        right: 24px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .row > *
    {
        width: calc(50% - 20px);
    }


    .advantages .item
    {
        padding: 24px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row.inline
    {
        display: block;
        overflow: auto;

        width: calc(100% + 40px);
        margin: 0 -20px;
        padding: 0 20px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }


    .articles .row.inline::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }


    .articles .row.inline::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .articles .row.inline > *
    {
        display: inline-block;

        width: 312px;
        max-width: none;
        margin: 0;

        vertical-align: top;
        white-space: normal;

        scroll-snap-align: start;
    }


    .articles .row.inline > * + *
    {
        margin-left: 20px;
    }


    .articles .article .name a
    {
        display: -webkit-box;
        overflow: hidden;
        align-self: stretch;
        -webkit-box-orient: vertical;

        -webkit-line-clamp: 2;
    }



    /*-------------
        Catalog
    -------------*/
    .catalog .list .item
    {
        padding: 20px;
    }


    .catalog .list .info
    {
        align-self: center;

        width: calc(100% - 80px);
        max-width: calc(100% - 80px);
        margin-right: 0;
    }


    .catalog .list .col_right
    {
        width: 100%;
    }


    .catalog .list .col_right .label,
    .catalog .list .col_right .date
    {
        text-align: left;
    }


    .catalog .list .col_right .tags
    {
        justify-content: flex-start;
    }


    .catalog .list .budget
    {
        margin-top: 0;
        padding-top: 0;

        text-align: left;
    }



    /*-------------------------
        Film commision info
    -------------------------*/
    .film_commission_info > .cont > .tabs .btns
    {
        padding: 0;

        border-radius: 0;
        background: none;

        gap: 8px;
    }


    .film_commission_info > .cont > .tabs .btn
    {
        font-size: 14px;
        font-weight: 500;
        line-height: 98%;

        padding: 9px 19px;

        border: 1px solid #e4ddec;
        border-radius: 40px;
    }


    .film_commission_info > .cont > .tabs .btn.active
    {
        color: #fff;
        border-color: #160f25;
        background: #160f25;
        box-shadow: none;
    }



    .film_commission_info .col_left
    {
        width: 100%;
    }


    .film_commission_info .col_right
    {
        width: 100%;
        margin-top: 32px;
    }



    /*---------------------
        Financing terms
    ---------------------*/
    .financing_terms .tabs
    {
        width: 100%;
        padding: 19px;

        border: none;
        border-bottom: 1px solid #e4ddec;
    }


    .financing_terms .tab_content.active
    {
        width: 100%;
        padding: 19px;
    }



    /*--------------
        Services
    --------------*/
    .services .row > *
    {
        width: calc(50% - 20px);
    }



    /*----------
        Rent
    ----------*/
    .rent .data
    {
        width: 100%;
    }


    .rent .gallery
    {
        width: 100%;
        margin-top: 32px;
    }



    /*---------------
        Locations
    ---------------*/
    .locations .row > *
    {
        width: calc(50% - 20px);
    }


    .locations .location .name
    {
        min-height: 48px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .head .block_desc
    {
        width: 100%;
        margin-bottom: 16px;
    }


    .projects .row > *
    {
        width: calc(50% - 20px);
    }



    /*---------------
        Festivals
    ---------------*/
    .festivals .row > *
    {
        width: calc(50% - 20px);
    }



    /*----------------
        About head
    ----------------*/
    .about_head .exp
    {
        margin-top: 320px;
    }


    .about_head .gallery
    {
        top: 32%;
    }



    /*-----------
        Tasks
    -----------*/
    .tasks .head .title
    {
        width: 100%;
    }


    .tasks .head .desc
    {
        width: 100%;
        margin-top: 16px;
    }



    /*----------------------
        Support measures
    ----------------------*/
    .support_measures .row > *
    {
        width: calc(50% - 20px);
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .row > *
    {
        width: calc(50% - 20px);
    }


    .contacts_info .row > *.big
    {
        width: calc(100% - 20px);
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .content
    {
        width: 100%;
    }


    .article_info aside
    {
        width: 100%;
        margin-top: 32px;
    }



    /*--------------------
        Privacy policy
    --------------------*/
    .privacy_policy .tabs
    {
        width: 100%;
        padding: 19px;

        border: none;
        border-bottom: 1px solid #e4ddec;
    }


    .privacy_policy .tab_content.active
    {
        width: 100%;
        padding: 19px;
    }



    /*---------------------------
        Support measures info
    ---------------------------*/
    .support_measures_info .links
    {
        width: 100%;
        padding: 19px;

        border: none;
        border-bottom: 1px solid #e4ddec;
    }


    .support_measures_info .content
    {
        width: 100%;
        padding: 19px;
    }



    /*------------
        Footer
    ------------*/
    footer .data
    {
        width: 343px;
    }


    footer .links
    {
        column-gap: 20px;
        column-count: 2;
    }


    footer .bottom
    {
        display: none;
    }


    footer .feedback
    {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        margin-top: 32px;
        margin-right: -20px;
        margin-left: -20px;
        padding: 32px 20px;
    }


    footer .mob_bottom
    {
        display: block;
    }



    /*-----------
        PopUp
    -----------*/
    #order_modal
    {
        padding: 32px;
    }
}
