.swiper-button-next,
.swiper-button-prev
{
    top: auto;
    bottom: 100%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 40px;
    height: 40px;
    margin: 0 0 40px;

    transition: color .2s linear;
    transform: none;

    color: currentColor;
    border-radius: 50%;
    background: #fff;
}


.swiper-button-prev
{
    right: 56px;
    left: auto;
}

.swiper-button-next
{
    right: 0;
}


.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 20px;
    height: 20px;
}

.swiper-button-next .icon
{
    transform: rotate(180deg);
}


.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled
{
    opacity: 1;
    color: #9f98af;
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-fraction
{
    position: relative;
    bottom: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    margin-top: 12px;

    pointer-events: none;

    gap: 8px;
}


.swiper-pagination-bullet
{
    display: block;

    width: 29px;
    height: 4px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: 1;
    border-radius: 8px;
    background: #e4ddec;
}


.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.active
{
    background: #7f1aff;
}


.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}


.swiper-pagination-bullets.swiper-pagination-custom
{
    margin-top: 24px;

    gap: 4px;
}


.swiper-pagination-bullets.swiper-pagination-custom .swiper-pagination-bullet
{
    font-size: 16px;
    font-weight: 500;
    line-height: 98%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 36px;
    height: 36px;

    transition: .2s linear;
    text-align: center;
    letter-spacing: -.48px;
    pointer-events: auto;

    opacity: 1;
    border-radius: 8px;
    background: none;
}


.swiper-pagination-bullets.swiper-pagination-custom .swiper-pagination-bullet:hover,
.swiper-pagination-bullets.swiper-pagination-custom .swiper-pagination-bullet.active
{
    color: #fff;
    background: #7f1aff;
}



.swiper-3d .swiper-slide-shadow-left
{
    border-radius: 20px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .4));
}

.swiper-3d .swiper-slide-shadow-right
{
    border-radius: 20px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, .4));
}
